.bg-main {
  background-color: #212429;
}

.bg-shine {
  background-image: radial-gradient(50% 60% at 50% 30%, #C850C0 -400%, transparent 100%);
  ;
}

.container {
  min-height: auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
