@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Inter:wght@100;200;300;400&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Festive&family=Inter:wght@100;200;300;400&family=Open+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bg-main {
    background-color: #251d27;
}

.bg-shine {
    background-image: radial-gradient(60% 60% at 50% 50%, #C850C0 -400%, transparent 100%);
}





.App {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
   
    
}


footer {
    align-self: bottom;
    width: 100%;
}